@font-face {
    font-family: "Georgia";

    src: url("../fonts/georgia-regular.ttf");

    font-weight: normal;

    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
